create an account to get started, select items from a menu, and we'll have food delivered directly to your room, within an hour, or your meal is free. The only difficult part is choosing. (Sorry, we can't help you with that.)</p>
</div>
<div class="widget">
    <form name="login-form" id="login-form" method="post" action="/users/login">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" />
        </div>
        <div class="form-submit">
            <input type="submit" value="Log in" />
            <div class="margin-top-30">
                or <a href="/users/create">Create an account</a>
            </div>
        </div>
    </form>
</div>